<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Campground Info</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption">
                    <h4 class="pull-right">$<%= campground.cost %>/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p>
                        <%= campground.description %>
                    </p>
                    <p>
                        <em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a class ="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
                    <div class="well">
                        <div class="text-right">
                             <button class="btn btn-primary btn-sm" id="review-button">Review</button> 
                             <!-- <a class="btn btn-primary btn-sm" href="/campgrounds/<%= campground._id %>/comments/new" id="review-button">Review</a>  -->
                        </div>
                        <div class="bs-callout bs-callout-success" id="review-pane">
                            <!-- I acknowledge this is a hot mess and not the best way to do this but bear with -->
                            <% var userHasReviewed = false; %>
                            <% var userAuthorName = ""; %>
                            <% var userReview = ""; %>
                            <% var userCommentID = ""; %>
                            <% campground.comments.forEach(function(comment){ %>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <% userHasReviewed = true; %>
                                    <% userAuthorName = comment.author.username; %>
                                    <% userReview = comment.text %>
                                    <% userCommentID = comment._id %>
                                <% } %>
                            <% }); %>
                            <% if (!userHasReviewed){ %>
                            <h4>Add a review. <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
                            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="text" name="comment[text]">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-sm">Add Review!</button>
                                </div>
                            </form>
                            <% } else { %>
                            <h4>Edit your review. <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h4> 
                            <form action="/campgrounds/<%= campground._id %>/comments/<%= userCommentID %>?_method=PUT" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="<%= userReview %>" name="comment[text]">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary">Submit!</button>
                                </form>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= userCommentID %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </div> 
                                
                            </form>
                            <% } %> 
                        </div>
                        <hr>
                        <% campground.comments.reverse().forEach(function(comment){ %>
                            <div class="row">
                                <div class='col-md-12'>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                        <strong><span class="glyphicon glyphicon-user userComment" aria-hidden="true"></span> <%= comment.author.username %></strong>
                                    <% } else {%>
                                        <strong><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= comment.author.username %></strong>
                                    <% } %>
                                    <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        <% }); %>
                                
                            
                            
                    </div>
                
            
        </div>
    </div>
    <h1>


    
    
 
    
   
    
   
</div>

<% include ../partials/footer %>